In [10]:
import pandas as pd

In [13]:
PEEOHI_df = pd.read_csv("MEPS_data/PercentPSEatEofferHI.csv")
PEEOHI_id = "Percent of Employees in Establishments Offering Health Insurance"

PEEHIAEPSEOHI_df = pd.read_csv("MEPS_data/PercentPSEEligible4HIatEstthatOfferHI.csv")
PEEHIAEPSEOHI_id = "Percent of Employees that are Eligible for Health Insurance Among Employees of Private-Sector Establishments Offering Health Insurance"

PEEHIAEPSEEHI_df = pd.read_csv("MEPS_data/PercentPSEEligible4HIEnrolledinHIatEstofferHI.csv")
PEEHIAEPSEEHI_id = "Percent of Employees that are Enrolled in Health Insurance Among Employees of Private-Sector Establishments Eligible for Health Insurance"

PEEHIAEPSEOHI_df = pd.read_csv("MEPS_data/PercentPSEEnrolledHIatEstofferHI.csv")
PEEHIAEPSEOHI_id = "Percent of Employees that are Enrolled in Health Insurance Among Employees of Private-Sector Establishments Offering Health Insurance"

PEESIPEOHI_df = pd.read_csv("MEPS_data/PercentofEnrolleesEnrolledinSelfInsuranceatEstOHI.csv")
PEESIPEOHI_id = "Percent of Enrollees that are Enrolled in Self-Insurance Plans at Establishments that Offer Health Insurance"

In [15]:
PEEOHI_df.head()

,State,2003,2004,2005,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,AL,0.907,0.903,0.927,0.933,0.906,0.921,0.919,0.896,0.875,0.893,0.906,0.900,0.890,0.891,0.895,0.916
1,AK,0.841,0.823,0.832,0.817,0.845,0.849,0.835,0.833,0.833,0.814,0.820,0.797,0.814,0.797,0.818,0.806
2,AR,0.840,0.872,0.852,0.865,0.873,0.865,0.890,0.834,0.888,0.862,0.862,0.865,0.877,0.831,0.852,0.872
3,AZ,0.897,0.876,0.881,0.859,0.899,0.900,0.863,0.880,0.865,0.891,0.889,0.862,0.860,0.907,0.901,0.899
4,CA,0.887,0.900,0.899,0.907,0.903,0.917,0.892,0.890,0.882,0.873,0.864,0.884,0.892,0.871,0.900,0.894